*.o
*.obj
*.out
*.dll
*.so
*.a
*.lib

.vs/
.vscode/


build/
_deps/
*.d
*.dSYM
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.log
install_manifest.txt
.ninja_deps
.ninja_log
build.ninja

ToDo.txt
files/
studentai1000.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
studentai10000000.txt
kietiakai.txt
vargsiukai.txt
studentai.zip
runTimeResults.txt
kietiakuRezultatai.txt
vargsiukuRezultatai.txt

docs/latex/*.pdf
Doxyfile1.bak